.layout {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #111;
	padding: 15vh 0 10vh;

	//header를 제외한 컨텐츠 영역
	.content {
		color: #ccc;
		height: 100%;
		overflow-y: auto;

		//그 안쪽에 커스텀 스크롤바 설정
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scroll-thumb {
			border-radius: 2px;
			background: var(--point1);
		}

		//각 페이지별 root tag (main page)
		> main {
			width: 100%;
		}

		//각 페이지별 root tag (sub page)
		> section {
			width: 80vw;
			margin: 0px auto;
		}
	}
}
