.layout {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #111;
	padding: 100px 0 60px;

	//header를 제외한 컨텐츠 영역
	.content {
		color: #ccc;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
		z-index: 4;

		//그안쪽에 커스텀 스크롤바 설정
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			background: var(--point);
		}

		//메인페이지 전용 root tag (main page)
		> main {
			width: 100%;
		}

		//각 페이지별 root tag (sub page)
		> section {
			width: 80vw;
			margin: 0px auto;

			h1 {
				width: 100%;
				font-size: 5rem;
				font-weight: 400;
				font-family: var(--font-nanum);
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
	}
}

@media screen and (max-width: $tabletS) {
	.layout {
		padding: 17vh 0 4vh;
		.content {
			> section {
				h1 {
					font-size: 4rem;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.layout {
		.content {
			> section {
				h1 {
					font-size: 3rem;
				}
			}
		}
	}
}
