.detail {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.upper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		h1 {
			width: auto !important;
		}

		.btnFavorite {
			//flex속성에서 요소좌우 배치시 제일큰 높이요소를 기점으로 나머지 요소도 같이 높이가 늘어감 (stretch)
			//해결방법: height: fit-content설정시 stretch를 무시하고 자기원래 높이값 설정됨
			height: fit-content;
			font-size: 1rem;
			padding: 8px 20px;
		}
	}

	.picFrame {
		width: 100%;
		height: 50vh;
		position: relative;
	}
	.detailTable {
		width: 45%;
		tr {
			th th:nth-of-type(1) {
				width: 5%;
			}
			td:nth-of-type(1) {
				width: 5%;
			}
		}
	}
	.detailList {
		width: 45%;
	}
}
